.bck-def {
  background-color: "#06C" !important;
}
.bck-w {
  background-color: white !important;
}
.bck-g {
  background-color: #f2f7fc !important;
}

.color-w {
  color: white;
}

#FasceOrarie > .ant-card > .ant-card-head {
  background-color: #06c !important;
  color: white !important;
}
#GravityChart > .ant-card > .ant-card-head {
  background-color: #06c !important;
  color: white !important;
}
#ScattePlotChart > .ant-card > .ant-card-head {
  background-color: #06c !important;
  color: white !important;
}
#GravityChart > .ant-card > .ant-card-body {
  padding: 0px !important;
}

.maxH {
  max-height: 400px;
}
